* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f2f0;
  text-align: center;
}

h1 {
  font-family: "Oswald";
  border-bottom: 20px solid black;
  font-size: 40px;
  padding-bottom: 25px;
}

nav {
  background-color: black;
  margin: 20px auto;
}

a {
  text-decoration: none;
  color: #f3f2f0;
  font-family: "Montserrat";
  border-right: 1px solid #f3f2f0;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 5px;
}

nav a:last-child  {
  border: none;
}

.main img {
  width: 50%;
  height: auto;
  float: left;
  margin: 10px;
}

.quote {
  text-align: left;
  margin-top: 8px;
}

.main {
  border: 5px solid black;
  width: 50%;
  min-height: 300px;
  padding: 20px;
  margin: 20px auto;
  font-size: 20px;
  font-family: "Montserrat";
}

/* game style */
.container {
  
  margin: 20px auto;
  font-family: "Montserrat";
  font-size: 20px;
  color: black;
}

.howTo{
  margin: 0 auto;
  font-size: 11px;
  letter-spacing: 2px;
}
#newQuote {
  border: 5px solid black;
  width: 50%;
  padding: 20px;
}

button{
  border: 2px solid black;
  margin: 20px; 
  width: 40%;
  height: 50px;
  font-size: 20px;
  font-family: "Montserrat";
}
#dumb {
  width: 500px;
  background-color: lightgray;
  height: 250px;
  padding: 5px;
  transition: width 5s, height 7s, transform 2s;
  border: 5px solid black;
}
#dumb:hover {
  
  padding: 20px;
  width: 600px;
  
  transform: rotate(180deg);
}